{% extends 'main/base.html' %}
{% load static %}


{% block title %}
    DISPALY
{% endblock %}

{% block content %}
    <br>
    <div class="container bg-dark text-light rounded ">
        <div class="d-flex align-items-start ">
            <div class=" p-3">
                <div id='tabs' class="nav flex-column nav-pills me-3 " id="v-pills-tab" role="tablist"
                     aria-orientation="vertical" aria-orientation="vertical">
                </div>
                <div id= 'inputsec' class="input-group mb-3">
                </div>
            </div>
            <div class="p-3">
                <div id='groups' class="tab-content " id="v-pills-tabContent">
                </div>
                <div id="table">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


